<h2>YADA</h2>
<ul>
  <li>
    <a href="/de/de/damen/schuhe/winterstiefel-cinzia-in-grau/p/580000495-44796-115?opType=search">Existing</a>
  </li>
  <li>
    <a href="/de/de/newpage.html">New</a>
  </li>
</ul>