<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="main.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
{{#unless active}}
<div id="content"></div>
{{/unless}}
<script type="text/javascript" src="main.js"></script>
</body>
</html>
