<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="main.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
  <a href="index.html">Back to index</a>
</body>
</html>
