{namespace namespace}

/**
 * Just a simple web page.
 */
{template .template}
  <!DOCTYPE html>
  <html>
  <head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link href="main.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <div id="content"></div>
  <script type="text/javascript" src="main.js"></script>
  </body>
  </html>
{/template}
